<!–– 
app that

- finds the users location [DONE]
- asscertains what services are needed from type of animal
- presents options from near by services (WIRES, vet, rescue, etc)
- allows user to then call these options directly from the screen

RESEARCH GPS location [DONE]
RESEARCH direct call from screen

WELCOME SCREEN
––> 

<!DOCTYPE html>

<html>

<head>
<link rel="stylesheet" href="app/assets/stylesheets/home.scss">
</head>

<body>

    <h1>Welcome to Animal Hero!</h1>
    <p>Welcome to Animal Rescue</p>
    <p> please select your needs<p>

<!-- BUTTONS -->

    <div class="buttons_group">
        <a href="/help">
            <button>I've found a animal!</button>
        </a>

        <a href="/resources">
            <button>Resources</button>
        </a>

        <a href="adopt">
        <button>I'm thinking about adopting an animal</button>
        </a>

        <a href="tips">
            <button>Tips to be a better friend to animals?</button>
        </a>
    </div>

  
</body>

</html>