@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
    background-color: orange;

    h1 {
        font-family: 'Mansalva', cursive;
        font-size: 8em;
        text-align: center;
    }
    
    p {
        font-family: 'Mansalva', cursive;
        text-align: center;
        font-size: 2em;

    }

        // @media only screen and (min-width: 768px) {
        //     /* For desktop: */
            
        //   }  
}